%nav.purple.darken-3
  .nav-wrapper.container
    %a.brand-logo{:href => "#!"} FoodSearch
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        = link_to "Cambiar ciudad", remove_city_path, class: "waves-effect waves-light btn indigo darken-3", method: :delete
    %ul#mobile-demo.side-nav
      %li
        = link_to "Cambiar ciudad", remove_city_path, method: :delete

%div.container
  %div.row
    .col.s12
      %p
        =@string_welcome
  .row
    .col.s12
      Búsqueda
  .row
    .col.s4
      .card
        .card-image.waves-effect.waves-block.waves-light
          =image_tag "logo_restaurant.jpg", class: "activator"
        .card-content
          %span.card-title.activator.grey-text.text-darken-4.center.center-align
            Fish&Wine
          %p
            %strong
              Telefono:
            +51 975260616
          %p
            %strong
              Especialidad:
            Lomo saltado
          %p
            %strong
              Horario de atención:
            09:00am - 10:00pm
          %p
            %strong
              Dirección:
            9 de diciembre 209
        .card-action
          = link_to "Ver", remove_city_path, class: "waves-effect waves-light btn indigo darken-3"
