%div#landing-image.full-height.no-margin
  %div.container
    %div.row
      %div.col.s12.center-align.center-div-vertical
        %h2.white-text Encuentra los mejores restaurantes de tu ciudad
        %p.white-text Solamente necesitamos saber tu ciudad, luego dejanos hacer nuestro trabajo
        %div.row
          .input-field.col.s9.white
            %select
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Selecciona tu ciudad
              %option{:value => "1"} Lima
              %option{:value => "2"} Arequipa
              %option{:value => "3"} Puno
          .input-field.col.s3.valign-wrapper
            %a{class: "waves-effect waves-light btn valign"}Continuar
