.row.mt-1
  .col-xs
    %h2
      Especialidades
    %table.table
      %thead.thead-default
        %tr
          %th
            Id
          %th
            Nombre
          %th
            Acciones
      %tbody
        - @specialities.each do |speciality|
          %tr
            %td
              = speciality.id
            %td
              = speciality.name
            %td
              -# =link_to 'Ver',admin_speciality_path(speciality), class: "btn"
              =link_to 'Editar',edit_admin_speciality_path(speciality), class: "btn"
              =link_to 'Borrar',admin_speciality_path(speciality), class: "btn", method: :delete, data: {confirm: "Estas seguro?"}
.row.mt-1
  =link_to "Nueva especialidad",new_admin_speciality_path(), class: "btn indigo darken-3"
